<style><!--
.espaco{margin-top:15px}
.espaco-maior{margin-top:20px}
.espaco-grande{margin-top:25px}
.container.vitrine-full {
    max-width:100% !important;
}
 .container-menu .menu-text{
    color:#000;
 }
.efeito-hover:hover{
    transform:scale(0.99);
    transition-duration:500ms;
}

@media (min-width:1000px){
   header.header-fixed {
    padding: 10px 60px;
} 

header{
    position:absolute;
    z-index:99;
    width:100%;
   background: linear-gradient(360deg, rgba(164,164,164,0) 0%, rgba(0,0,0,0.40786081522452735) 96%)
 !important;
   box-shadow: none !Important;
}
.minha-conta a svg path{
   fill: #fff;
}
 .carrinho-ctn>a path {
    fill: #fff;
}
.meus-favoritos svg path{
    fill: #fff;
}
.pesquisa-button svg path {
    fill:#fff;
}
.carrinho-ctn .icon-top svg path {
    fill: #fff;
}
ul#nav-root>li>a {
    color: #fff !important; 
}
    .menu-text {
    
        color: #ffffff;
    }

ul#nav-root>li>a:before {
    background: #fff ;
}
.carrinho-ctn .item-ctn {
    background: #fff !important;
    color:#000;
}
.logo-preview img{
    filter: brightness(0) invert(1);
}


ul.product-list:not(.swiper-wrapper)>li {
    
    padding: 10px;
}

--></style>

<script>
window.addEventListener('scroll', function () {
  const header = document.getElementById('header-react-app');
  if (window.scrollY > 50) {
    header.classList.add('scrolled');
  } else {
    header.classList.remove('scrolled');
  }
});

</script>

<style>
.logo-preview svg {
  height: 30px !important;
  width: auto;
  display: block;
}

@media (min-width: 1024px) {
    .logo-preview svg,
.logo-preview svg path,
.logo-preview svg g,
.logo-preview svg rect {
  fill: white !important;
  color: white !important;
}
}
</style>